:root {
    --background-color: #6f2da8;
  }
  
  $base-color:var(--background-color);;

.header-wrapper{
    width:15vw;
    color: white;
    background-color: black;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    border-right: 4px solid $base-color;

    .navbar{
        padding: 20px 0;
        width: 100%;
        height: 100%;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        row-gap: 60px;
        font-size:1.7em;
        font-weight: normal;

        a{
            position: relative;

            &::after{
                content: '';
                position: absolute;
                width: 0px;
                height: 4px;
                left: 0;
                bottom: 0;
                background-color: $base-color;
            }

            &.active::after{
                width: 100%;
                transition: .7s ease-in-out;
            }
            
        }
       
        }
    }
}